<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>Authentified</display-name>
    <servlet-name>Authentified</servlet-name>
    <servlet-class>Authentified.Authentified</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Authentified</servlet-name>
    <url-pattern>/Authentified</url-pattern>
  </servlet-mapping>
  <display-name>quiz</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Quiz</display-name>
    <servlet-name>Quiz</servlet-name>
    <servlet-class>Quiz.Quiz</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Quiz</servlet-name>
    <url-pattern>/Quiz</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Register</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>Register.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Generate</display-name>
    <servlet-name>Generate</servlet-name>
    <servlet-class>Generate.Generate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Generate</servlet-name>
    <url-pattern>/Generate</url-pattern>
  </servlet-mapping>
</web-app>